<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <main>
    <h1><%= title %> From views/pages</h1>
    <p>Welcome to <%= title %></p>
    <button class="btn btn-primary" id="save">Save</button>
    <script>
      $('#save').click(() => {
        console.log(1);
      })
    </script>

    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
      <% for (let i = 0; i < users.length; i++) {%>
      <tr>
        <input type="hidden" value="<%= users[i]['user_id'] %>">
        <td><%= users[i]['first_name'] %></td>
        <td><%= users[i]['last_name'] %></td>
        <td><%= users[i]['username'] %></td>
      </tr>
      <%}%>
</table>
  </main>
</body>

</html>